* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  min-height: 90px;
  padding: 20px;
  margin-top: 120px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

@media only screen and (max-width: 600px) {
 .container {
     width: 100%;
    }
  }

.bio {
  margin-bottom: 30px;
}

.bio h3 {
  font-size: 24px;
  font-weight: 400;
}

.bio p {
  font-size: 17px;
  color: #222222;
}

.skills {
  margin-bottom: 30px;
}

.skills h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.skills ul {
  list-style-type: none;
}

.skills ul li {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 20px;
  background-color: #ececec;
}

.links {
    margin-left: 71px;
}

@media only screen and (max-width: 600px) {
    .links {
      width: 100%;
      margin-left: 12px;
    }
  }


.links h3 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 19px;
  margin-bottom: -15px;
}

.links ul {
  list-style: none;
}

.links ul li {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}



@media only screen and (max-width: 600px) {
    .links ul li {
        padding: 22px 2px;
        margin-left: 18px;
    }
  }

.links ul li a {
  color: #02075d;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.links ul li a:hover {
  color: orange;
}
