footer {
    background: var(--color-primary);
    padding: 2.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    margin-bottom: -4rem;
}

footer a {
    color: var(--color-light);
}

.footer__logo {
    width: 10rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.footer__socials a {
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.8rem;
    display: flex;
    font-size: 1.3rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    /* Glassmorphism Effect */
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--color-primary-variant);
}

.footer__socials a:nth-child(1):hover {
    color: #1877f2;
    border-color: #1877f2;
} /* Facebook Blue */
.footer__socials a:nth-child(2):hover {
    color: #1da1f2;
    border-color: #1da1f2;
} /* Twitter Blue */
.footer__socials a:nth-child(3):hover {
    color: #e4405f;
    border-color: #e4405f;
} /* Instagram Pink */
.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer__copyright small span {
    color: var(--color-light);
}

/*Media queries for SMALL DEVICES ----->>> */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.2rem;
    }

    .footer__copyright {
        margin-bottom: 1.8rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}

/*===========Finished All Css here==============*/
