#blog__view {
  margin-top: 10vh;
}



.blog__subtitle {
  color: var(--color-light);
}

.blog__title {
  color: var(--color-primary);
  margin-bottom: 3rem;
}



.blog__sahed__wrapper__details img {
  height: 25rem;
}

.blog__cards {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  gap: 1.5rem;
}

.blog__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.blog__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.blog__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.blog__card h5 {
  font-size: 0.95rem;
}

.blog__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.blog__content p {
  margin: 2rem 0 2.6rem 0;
  color: var(--color-light);
}

.blog__btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.blog__desc__btn {
 margin-left: 2px;
 color: var(--color-white);
 cursor: pointer;
}


/*Media queries for MEDIUM DEVICES ----->>> */
@media screen and (max-width: 1024px) {
  .blog__container__details {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .blog__sahed__wrapper__details {
    width: 50%;
    margin: 2rem auto 4rem;
    height: 18.5rem;
  }

  .blog__content {
    text-align: center;
  }

  .blog__content p {
    margin: 1rem 0 1.5rem;
  }
  .blog__btn {
    justify-content: center;
  }
}

/*Media queries for SMALL DEVICES ----->>> */
@media screen and (max-width: 600px) {
  .blog__sahed__wrapper__details {
    width: 65%;
  }

  .blog__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .blog__content {
    text-align: center;
  }
  .blog__content p {
    margin: 1.5rem 0;
  }
  .blog__btn {
    justify-content: center;
  }

  .blog__img__wrapper img{
    width: 100%;
    height: 100%;
   
  }
   .blog__content{
     margin-top: -10rem !important;
  }
}
