.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

.container {
    margin-bottom: 10px;
}

.text{
    font-size: 50px;
}

.btn {
    padding: 10px 24px;
    cursor: pointer;
    font-size: 15px;
    margin: 20px;
    transition: .3s;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: orange;
    color: black;
}

