#project__view {
  margin-top: 30vh;
}

.project__container {
  display: grid;
  grid-template-columns: 43% 50%;
  gap: 10%;
}

.project__subtitle {
  color: var(--color-light);
}

.project__title {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.project__sahed__wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.project__img__wrapper img {
  height: 15rem;
}

.project__cards {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  gap: 1.5rem;
}

.project__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  width: 100%;
}

.project__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.project__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.project__card h5 {
  font-size: 0.95rem;
}

.project__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.project__content p {
  margin: 2rem 0 2.6rem 0;
  color: var(--color-light);
}

.project__btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.project__desc__btn {
 margin-left: 2px;
 color: var(--color-white);
 cursor: pointer;
}


/*Media queries for MEDIUM DEVICES ----->>> */
@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .project__sahed__wrapper {
    width: 50%;
    margin: 2rem auto 4rem;
    height: 18.5rem;
  }

  .project__content {
    text-align: center;
  }

  .project__content p {
    margin: 1rem 0 1.5rem;
  }
  .project__btn {
    justify-content: center;
  }
}

/*Media queries for SMALL DEVICES ----->>> */
@media screen and (max-width: 600px) {
  .project__sahed__wrapper {
    width: 65%;
  }

  .project__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .project__content {
    text-align: center;
  }
  .project__content p {
    margin: 1.5rem 0;
  }
  .project__btn {
    justify-content: center;
  }
}
